<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Edwin Igbinoba{% endblock %}</title>

    <link href="static/output.css" rel="stylesheet">
        <link rel="icon" href="static/icon.png">

    {% endblock %}

</head>

<nav class="">

        <div class="l">
            <a href="{{ url_for('index') }}"><li class="">Home</li></a>
            <a href="{{ url_for('projects') }}"><li class="">Projects</li></a>
            <a href="{{ url_for('aboutme') }}"><li class="">About Me</li></a>

        </div>

</nav>

<body class="">
    
    {% block body %}
    <div class="">
        <div class="">
            <!--- <img class="" src="static/photo.jpeg" alt=""> -->
            <h1 class="">Edwin Igbinoba</h1>
            <h3>Software Engineer</h3>
        </div>

        <div class="">
            <div class="">
                <a target="_blank" href="https://github.com/hhgsx" ><img class="" src="static/icons8-github.svg"></a>
                <a target="_blank" href="https://www.linkedin.com/in/edwin-igbinoba-james/" ><img class="" src="static/icons8-linkedin.svg"></a>
                <a target="_blank" href="https://x.com/yamlof" ><img class="" src="static/icons8-twitter.svg"></a>
            </div>
        </div>


    </div>
    {% endblock %}

</body>
</html>

