{% extends "index.html" %}

{% block title %} Projects | Edwin {% endblock %}

{% block body %}

<div class="">
    <div class="">
        <div class=" ">
            <div class=" ">
                <div class=" ">
                    <h1>Manga App (In Progress)</h1>
                    <a class=" " target="_blank" href="https://github.com/hhgsx/manga-android" ><img class=" " src="static/icons8-github.svg"></a>
                </div>
                <div class=" ">
                    <h3 class=" ">An Android app that scrapes internet websites and displays it comfortably to your phone</h3>

                </div>
                <div>
                    <span class=" ">Kotlin</span>
                    <span class=" ">Android</span>
                    <span></span>
                </div>
            </div>
            <div class=" ">
                <div class=" ">
                    <h1>8-bit Emulator (In Progress) </h1>
                    <a class=" " target="_blank" href="https://github.com/hhgsx/8bit-emulator" ><img class="  " src="static/icons8-github.svg"></a>
                </div>
                <div>
                    <h3 class=" ">An 8-bit emulator , started with this one because i intend to go onto more difficult systems</h3>
                </div>

                <div>
                    <span class=" ">C</span>
                    <span class=" ">Emulation</span>
                    <span class=" ">Low Level Programming</span>
                </div>
            </div>
            <div class=" ">
                <div class=" ">
                    <h1>Manga Scrapper CLI</h1>
                    <a class= " " target="_blank" href="https://github.com/hhgsx/manga-sp" ><img class=" " src="static/icons8-github.svg"></a>
                </div>
                <div>
                    <h3 class=" ">A CLI app that downloads entire manga volumes</h3>
                </div>
                <div>
                    <span class=" ">Kotlin</span>
                    <span class=" ">Android</span>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}